/* Utilities */
:root{
  --primary-color: #A1CCD1;
  --secondary-color: #7C9D96;
  --light-backgounrd-color: #fff;
  --dark-backgorund-color: #222;
  --light-text-color: #fff;
  --dark-text-color: #000;
  --extra-color-1: #E9B384;
  --extra-color-2: #F4F2DE;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container{
  min-height: 100vh;
}



/* Header */
.header-main{
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  transition: all .6s ease-in-out;
  padding: 1rem 5vw;
}
.branding{
  font-size: 3em;
}
.branding a{
  color: #fff;
  text-decoration: none;
}
nav ul{
  list-style: none;
  display: flex;
}
nav ul li{
  margin: 0 1rem;
  font-size: 1.2rem;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
}
/* Mobile Menu */
.mobile-menu-toggle{
  display: none;
}



/* Footer */
footer{
  background-color: #000;
  color: #fff
}
.footer-main{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}



/* E404 page */
.container.e404{
  padding: 4rem 2rem;
}
.container h1{
  margin: 1rem 0;
}
.container.e404 h2{
  margin-top: 4rem;
}
.container.e404 .recent_posts{
  display: flex;
  list-style: none;
}
.container.e404 .recent_posts li{
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  text-align: center;
  transition: .2s ease-in-out;
}
.container.e404 .recent_posts li:hover{
  transform: scale(1.01);
  box-shadow: 0px 2px 8px #b4b4b4;
}
.container.e404 .recent_posts li a{
  text-decoration: none;
  color: #000;
}
.container.e404 .recent_posts li a p{
  text-align: left;
}
.container.e404 .recent_posts li a p{
  font-size: 1.6rem;
  margin-top: 1rem;
}